[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
datamodel-code-generator = "*"
dredd-hooks = "*"
schemathesis = "*"

[packages]
fastapi = "*"
uvicorn = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
