[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
apispec = "*"
marshmallow = "*"
flask = "*"
apispec-webframeworks = "*"

[requires]
python_version = "3.7"
