[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
fastapi = "*"
uvicorn = "*"
pyyaml = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true

[dev-packages]
black = "*"
